/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/** end reset css**/

html {
    scroll-behavior: smooth;
}
body {
    max-width: 1140px;
    margin: auto;
    font-family: "Work Sans";
    font-size: 14px;
    background-color: #f7f8f6;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: "Syne";
    font-size: 22px;
    font-weight: 800;
    color: #b1663c;
}

h1 > span {
    font-family: "Work Sans";
    font-size: 10px;
    letter-spacing: 0.1em;
}

h2 {
    font-family: "Syne";
    font-weight: 700;
    font-size: 30px;
    color: #1d6154;
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}
nav li {
    padding: 0 10px;
    font-size: 1.2em;
}

li:hover {
    color: #b1663c;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li a:hover {
    color: #b1663c;
}

section {
    margin: 50px 0;
}

#introduction {
    display: flex;
    align-items: center;
}

#introduction figure {
    flex: 1;
}

#introduction img {
    display: block;
    margin: auto;
    width: 80%;
}

#introduction article {
    flex: 1;
}

#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
}

#portfolio {
    padding-top: 1em;
}

#portfolio .projet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#portfolio .projet h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#portfolio .projet .edit-mode {
    display: flex;
    gap: 5px;
    font-size: 14px;
    text-decoration: none;
}

.edit-mode .modal-btn-open {
    font-size: 14px;
    cursor: pointer;
    border: none;
    font-family: Work Sans;
    font-weight: 400;
    background: none;
}

#portfolio .projet .edit-mode .icon .svg-inline--fa:hover {
    color: #000000;
}

#portfolio .group-buttons {
    display: flex;
    justify-content: center;
}

#portfolio .group-buttons .btn {
    margin: 25px 5px 50px 5px;
    align-items: center;
    background-color: #ffffff;
    color: #1d6154;
    border: 1px solid #1d6154;
    padding: 0px 8px;
    border-radius: 60px;
    font-family: Syne;
    font-size: 17px;
    min-width: 100px;
    height: 40px;
}

#portfolio .group-buttons .active {
    background-color: #1d6154;
    color: #ffffff;
    transition: 0.2s ease;
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gallery img {
    width: 100%;
}

.form {
    width: 50%;
    margin: auto;
}

.form-login {
    margin-bottom: 50px;
}

.form > * {
    text-align: center;
}
.form h2 {
    margin-bottom: 20px;
}

.form form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.form input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.form label {
    margin: 2em 0 1em 0;
}

.form textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.form span {
    text-align: center;
}

.form span a {
    color: black;
}

input[type="submit"] {
    font-family: "Syne";
    font-weight: 700;
    color: white;
    background-color: #1d6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
}

footer {
    height: 50px;
    min-width: 1140px;
}

.footer-login {
    position: absolute;
    bottom: 20px;
}

footer nav {
    height: 100%;
    padding-top: 20px;
    background-color: #ffffff;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 100px;
}

/* Ajout du mode edition */
.edition {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: white;
    height: 50px;
    font-size: 20px;
    gap: 20px;
}

.edition .js-modal {
    font-size: 20px;
    color: #ffffff;
    padding: 0px;
    font-family: Works Sans;
    border: none;
    background: None;
    cursor: pointer;
    text-decoration: none;
}

.edition .edition-p {
    color: #ffffff;
    font-family: Works Sans;
}

/** Modal **/

.modal-container {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    transition: visibility 0.2s;
}

.modal-container.active {
    visibility: visible;
}

.modal-container.active .overlay {
    opacity: 1;
    transition: opacity 0.2s ease-out;
}

.overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    transition: opacity 0.2s ease-out;
}

.modal-container.active .modal {
    opacity: 1;
    transition: opacity 0.2s ease-out;
}

.modal {
    position: absolute;
    opacity: 0;
    width: 95%;
    max-width: 600px;
    min-width: 300px;
    min-height: 600px;
    max-height: 600px;
    padding: 30px 60px;
    background: #fff;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.modal .icon {
    font-size: 24px;
    position: absolute;
    top: 25px;
    right: 30px;
    cursor: pointer;
    color: #000000;
}

.modal .icon-return {
    font-size: 24px;
    position: absolute;
    top: 25px;
    left: 30px;
    cursor: pointer;
    color: #000000;
}

.modal h1 {
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    font-family: Montserrat, Sans-serif;
    font-weight: 500;
    color: #000000;
}

.modal .grid-projects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.modal figure {
    position: relative;
}

.modal figure .img {
    width: 90%;
    height: auto;
}

.modal figure .delete-icon {
    position: absolute;
    top: 0px;
    right: 12px;
    margin: 8px;
    cursor: pointer;
    color: #ffffff;
    background-color: #000000;
    padding: 5px;
    border-radius: 4px;
}

.modal .horizontal-line {
    display: block;
    width: 100%;
    border: 1px solid #b3b3b3;
    margin: 30px 0;
}

.modal .btn-ajout {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d6154;
    color: #ffffff;
    border: 1px solid #1d6154;
    padding: 10px 0px;
    margin-bottom: 0px;
    border-radius: 60px;
    font-family: Syne;
    font-size: 14px;
    height: 40px;
    cursor: pointer;
    width: 250px;
}

.modal .form-ajout {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
}

.form-ajout label {
    color: #3d3d3d;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    line-height: 16.42px;
    margin-bottom: 5px;
}

.form-ajout input {
    border: none;
    box-shadow: 0 0 5px 0.5px #00000017;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #444444;
}

.form-ajout input[type="file"] {
    display: none; /* Pour cacher le champ de saisie par défaut */
}

.file-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #e8f1f6;
    border-radius: 5px;
}

.file-label {
    display: block;
    padding: 10px;
    background-color: #cbd6dc;
    color: #ffffff;
    cursor: pointer;
    border-radius: 50px;
    color: #306685;
    padding: 15px 50px;
}

.image-preview-container {
    display: none;
}

.file-preview {
    max-width: 100%;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-ajout select {
    border: none;
    box-shadow: 0 0 5px 0.5px #00000017;
    padding: 10px;
}

.form-ajout .btn-ajout {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a7a7a7;
    color: #ffffff;
    border: 1px solid #a7a7a7;
    padding: 10px 50px;
    margin-bottom: 0px;
    height: 40px;
    cursor: pointer;
    margin: auto;
}
